.option-desc {
  width: 0.1rem;
  position: absolute;
  z-index: 817638;
  bottom: 100%;
  left: -1.5rem;
  text-align: center;
  background-color: none;
  color: white;
  border-radius: 0.25rem;
  opacity: 0;
  transition: width 0.25s ease-in-out, bottom 0.25s ease-in-out,
    opacity 0.25s ease-in-out, color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
}
.option-desc-show {
  width: 5rem;
  z-index: 817638;
  position: absolute;
  bottom: -2rem;
  left: -1.5rem;
  text-align: center;
  background-color: var(--purple-dark);
  color: white;
  border-radius: 0.25rem;
  opacity: 1;
  transition: width 0.25s ease-in-out, bottom 0.25s ease-in-out,
    opacity 0.25s ease-in-out, color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
}
