@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}

body {
  /* background: linear-gradient(90deg, #c7c5f4, #776bcc); */
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' width='772.48699' height='615.10615' viewBox='0 0 772.48699 615.10615' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M834.5303 334.84749c-13.48356-29.25072-19.3881-60.77514-15.25269-95.3115-.63892-4.01773 1.60066-8.04395 5.00634-9.00021l61.045-17.05489c3.40712-.94712 6.68848 1.53667 7.33508 5.55225l15.25275 95.31152c.63892 4.01772-1.6006 8.044-5.00626 9.00014l-61.045 17.05489C838.4584 341.34681 835.177 338.86308 834.5303 334.84749Z' transform='translate(-213.7565 -142.44693)' fill='%23e6e6e6'/%3E%3Cellipse cx='853.15101' cy='222.695' rx='12.43264' ry='10.37768' transform='translate(309.21103 897.82901) rotate(-82.63777)' fill='%23f2f2f2'/%3E%3Cpath d='M637.80966 328.23761c-13.48356-29.25072-19.3881-60.77514-15.25269-95.3115-.63891-4.01773 1.60066-8.04395 5.00634-9.00021l61.045-17.05489c3.40712-.94712 6.68848 1.53668 7.33508 5.55225l15.25275 95.31152c.63892 4.01772-1.6006 8.04395-5.00626 9.00014l-61.045 17.05489C641.73776 334.73693 638.45633 332.2532 637.80966 328.23761Z' transform='translate(-213.7565 -142.44693)' fill='%23e6e6e6'/%3E%3Cellipse cx='656.43037' cy='216.08512' rx='12.43264' ry='10.37768' transform='translate(144.25394 696.96729) rotate(-82.63777)' fill='%23f2f2f2'/%3E%3Crect y='383.45819' width='614.60645' height='2' fill='%233f3d56'/%3E%3Cpath d='M463.7565 289.90511c-.725-2.53751 9.41133 20.72 7 21-10.98269 1.26-35.31852 6.94-42.96788 10-.3445-.04-.689-.08-1.0233-.13-.82066-.09-1.62109-.22-2.41133-.37-17.81138-3.37-31.28641-18-31.65113-35.66-.02028-.25-.02028-.51-.02028-.76a33.477 33.477 0 0 1 .1925-3.65 34.33142 34.33142 0 0 1 .86116-4.91l-.0405-.01c-7.09213-6.66-4.10329-19.01 4.93408-24.22a32.551 32.551 0 0 1 12.78609-4.15 34.27626 34.27626 0 0 1 3.67778-.2h11.53992a53.62984 53.62984 0 0 1 7.24406-1.05h.02028c23.23177-1.77 41.54974 12.39 39.83749 29.62-.01014.02-.03042.04-.0405.06-.4965.74-.93215 1.44-1.31716 2.11-.37486.63-.68894 1.23-.96245 1.8-2.11753 4.4 3.32552 9.93662-.2837 10.97-4.80027 1.37445 12.62487 46.55-6.37513 46.55C473.99854 339.5328 465.7565 296.90511 463.7565 289.90511Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Cpolygon points='356.007 584.119 370.991 583.992 377.622 524.854 355.51 525.04 356.007 584.119' fill='%23ffb6b6'/%3E%3Cpath d='M617.75634 750.3912a6.70748 6.70748 0 0 1-6.64133 6.75737l-29.78955.24858-5.21507-10.57088-1.91533 10.62486-11.24025.10194 2.83831-37.89483 3.91064-.26016 15.95084-1.09955 5.14613-.34463.09025 10.72189 23.92992 16.231A6.69638 6.69638 0 0 1 617.75634 750.3912Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Cpath d='M588.7565 696.90511c-5.96-.72-21-2-21-2s-7.1-14.82-5.95-19.43c1.13-4.63 3.95-5.57 1.33-7.99-6.38-23.58-5.36-61.87994-5.36-61.87994s-34.34-16.63-69.11-35.88c-33.99-18.83-68.39-40.16-71.5-50.91a136.945 136.945 0 0 1-4.12-23.47c-.52-5.2-.84-10.3-1.04-14.87-.47-10.46-.28-18.19-.28-18.19l43.33-.72 28.7-.66h3v5l7.54 12.82s13.03 15.15 11.5 16.56c-1.85 1.71-1.29 3.23 5.28 4.47a21.362 21.362 0 0 0 5.66.23c10.61005-.81 15.05 5.26 15.31 6.59 1.78 9.39 19.63 29.79 36.35 47.2h.01c15.43 16.08 29.89 29.6 29.89 29.6l.82 17.25 3.85 80.65s-7.22-4.04-.77 4.67C608.64652 694.66512 594.71653 697.61507 588.7565 696.90511Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Cpolygon points='537.561 366.927 543.678 353.248 492.655 322.621 483.627 342.808 537.561 366.927' fill='%23ffb6b6'/%3E%3Cpath d='M792.94537 475.63922a6.70748 6.70748 0 0 1 3.38287 8.85017l-12.16411 27.194-11.78222.34591 8.86561 6.16093-4.58237 10.26428-33.281-18.3425 1.38994-3.66455 5.63439-14.963 1.827-4.82323 9.788 4.37741 24.71348-15.011A6.69638 6.69638 0 0 1 792.94537 475.63922Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Cpath d='M725.07209 476.26547c-.0348.078-.07676.149-.11173.21286-2.78776 5.11667-7.36289 16.95566-7.648 17.68589a.1091.1091 0 0 0-.01388.04248s-15.09506-.7777-18.95291-3.54551c-3.8651-2.78895 1.9835 1.62043-6.92917-4.21138-4.60912-3.03154-20.39491-7.76457-34.53447-11.63162-13.15489-3.59773-24.87629-6.427-24.87629-6.427s-10.36108 9.43037-25.37254 22.46215l-.007.00713c-13.94293 12.07729-31.91016 27.26405-49.32213 40.86326-37.27818 10.96475-76.62369 20.46518-86.45949 15.12739A136.94464 136.94464 0 0 1 451.24593 533.297l10.12843-26.54824 26.78544-28.05068 28.19549-11.45664 11.0299-4.48491L542.83 456.489l83.6204-33.97481L719.0536 454.5893s-6.45012 5.21138 4.04677 2.46247C733.456 454.34621 727.98479 470.7803 725.07209 476.26547Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Cpath d='M432.7565 321.90511h30l4.72342 10.42578 20.091 8.95194A18.25952 18.25952 0 0 1 497.9678 354.059c7.23436 33.0713-1.9166 39.94255-2.2113 50.84615-1 37-6.15264 44.35981-5.57632 53.49367.17248 2.73358 1.84109 13.54206 7.20871 12.5242s2.47418 3.255 3.74451 4.91621c1.09758 1.43528 6.87017-.46946 3.24664 4.29823s11.86779 17.76769 2.37646 17.76769c-18 0-54 9-68 9s-24.81889 4.151-31 4c-3.76729-.092-2.58942-17.65859-1.08366-32.8717.34094-3.44455 6.95562-3.35479 1.01964-9.74154s1.05143-9.70584 1.064-11.38676c.01339-1.7857 3.36517-6.28408-.81742-13.642s-.327-4.3132-.50868-6.62366c-1.4-17.805-3.40618-40.5074-3.40618-40.5074l-8.8435-24.88973a26.04061 26.04061 0 0 1 14.98235-32.94257l10.37365-4.092Z' transform='translate(-213.7565 -142.44693)' fill='%236c63ff'/%3E%3Cpath d='M643.45211 312.72462a9.74336 9.74336 0 0 1-14.5032 3.13866l-42.261 23.9257-9.49179-10.06228 50.40182-28.04992a9.72971 9.72971 0 0 1 15.85418 11.04784Z' transform='translate(-213.7565 -142.44693)' fill='%23ffb6b6'/%3E%3Cpath d='M453.17031 369.20039l-.64357 7.70472 84.134-1.08158 83.74648-47.08041L608.164 309.89894 534.55576 340.8477l-52.316 1.06091A29.77645 29.77645 0 0 0 453.17031 369.20039Z' transform='translate(-213.7565 -142.44693)' fill='%236c63ff'/%3E%3Ccircle cx='229.26124' cy='146.64316' r='27.32215' fill='%23ffb6b6'/%3E%3Cpath d='M473.73544 276.90511c-.45593.24-.90172.46-1.35766.68-.47615.23-.95237.46-1.42853.67-9.14887 4.15-16.59558 4.61-21.1143-1.35a25.26 25.26 0 0 0-2.077-9.1 14.6266 14.6266 0 0 1-2.41133 9.1h-9.09817c-9.37174 6.22-14.18425 6.87-7.67977 27.29 1.81359 5.69 9.02462 38.8 6.18778 43.71-.82065-.09-9.61227-27.35-10.40251-27.5-17.81138-3.37-31.28641-18-31.65113-35.66.02022-.9.081-1.8.17222-2.68a47.7153 47.7153 0 0 1 3.86014-5.04 30.59335 30.59335 0 0 1 3.1712-13.61 31.3042 31.3042 0 0 1 11.8945-12.94 55.16508 55.16508 0 0 1 9.50345-3.57c.08107-.02.152-.04.233-.06 1.003-.27 2.02632-.52 3.04962-.73005a56.09832 56.09832 0 0 1 6.40319-.97c.152-.01.30393-.02.44579-.02a4.825 4.825 0 0 1 2.44169.67005c.01014 0 .01014.01.02028.01a4.59687 4.59687 0 0 1 1.35766 1.21 4.64994 4.64994 0 0 1 .99288 2.89H446.3801q.5623 0 1.12459.03a27.16581 27.16581 0 0 1 26.19025 25.54C473.7253 275.9551 473.73544 276.42507 473.73544 276.90511Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Ccircle cx='192' cy='121.45819' r='18' fill='%232f2e41'/%3E%3Cpath d='M427.7565 249.90511c.34375 9.93518-8.05887 18-18 18a18 18 0 0 1-18-18c0-9.94112 12.03943-10.044 18-18C418.18857 220.65026 427.29294 236.50672 427.7565 249.90511Z' transform='translate(-213.7565 -142.44693)' fill='%232f2e41'/%3E%3Cpath d='M451.29124 531.48587c-2.795-41.47321 5.38724-80.48471 28.111-116.2351a9.13978 9.13978 0 0 1 11.01963-6.7275l87.7833 21.23a9.13966 9.13966 0 0 1 6.72742 11.01958L556.82167 557.008a9.1396 9.1396 0 0 1-11.0195 6.72748l-87.7833-21.23A9.13985 9.13985 0 0 1 451.29124 531.48587Z' transform='translate(-213.7565 -142.44693)' fill='%23f2f2f2'/%3E%3Cpath d='M468.49429 540.294a9.13963 9.13963 0 0 1-6.72748-11.0195c-2.7951-41.47339 5.38722-80.48484 28.11089-116.23521a9.02184 9.02184 0 0 1 2.27158-4.09835l-1.72739-.41784a9.14 9.14 0 0 0-11.01965 6.72737c-22.72373 35.75044-30.906 74.76182-28.1109 116.23521a9.1396 9.1396 0 0 0 6.72748 11.0195L545.802 563.7354a9.09909 9.09909 0 0 0 8.74808-2.629Z' transform='translate(-213.7565 -142.44693)' opacity='0.2' style='isolation:isolate'/%3E%3Cpath d='M547.97395 491.36265l-58.86472-14.06357a3.6313 3.6313 0 0 1 1.68757-7.0638l58.86472 14.06358a3.63129 3.63129 0 0 1-1.68765 7.06374Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M506.687 461.024l-12.95018-3.094a3.63132 3.63132 0 1 1 1.66535-7.06912l.0223.00537 12.95018 3.094A3.63129 3.63129 0 0 1 506.687 461.024Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M540.55468 522.41678 481.69 508.35321a3.6313 3.6313 0 0 1 1.68765-7.06375L542.24233 515.353a3.63132 3.63132 0 0 1-1.66534 7.06912Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M544.26429 506.88976l-58.86472-14.06358a3.63131 3.63131 0 0 1 1.6792-7.06583l.00837.002L545.95186 499.826a3.6313 3.6313 0 0 1-1.68765 7.06375Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Ccircle cx='318.06386' cy='276.36537' r='15.14099' fill='%233f3d56'/%3E%3Cpath d='M455.47745 540.154a9.74338 9.74338 0 0 1-2.952-14.54236L429.145 483.04655l10.18346-9.36166 27.39972 50.75822A9.72972 9.72972 0 0 1 455.47745 540.154Z' transform='translate(-213.7565 -142.44693)' fill='%23ffb6b6'/%3E%3Cpath d='M428.169 351.73976l-25.14683-2.42637a8.45374 8.45374 0 0 0-9.26565 8.41466v74.83231l46 84.34475 19-12-30-74Z' transform='translate(-213.7565 -142.44693)' fill='%236c63ff'/%3E%3Cpath d='M583.70885 236.80434c11.76007-11.09993 2.497-54.3306 17.9327-51.6093 17.36239 3.061 32.26032 12.34514 46.046 22.9271 14.64481 11.24141 28.27935 24.10164 44.43829 33.21941 14.91912 8.4182 32.41392 14.14755 49.68564 11.54719 15.09938-2.27331 26.78161-11.78126 37.55866-21.92583 9.87543-9.29587 19.90037-20.384 33.24905-24.527 16.21362-5.03216 30.69284 3.78905 43.52886 12.813 6.9158 4.86193 13.75992 9.94712 21.4155 13.60927a78.07933 78.07933 0 0 0 25.196 7.1143 76.871 76.871 0 0 0 49.40949-11.24119A79.16359 79.16359 0 0 0 982.41135 192.886c1.53574-3.64962 4.42549-15.14332 3.72432-11.2467-4.071 22.624-52.51178 21.86491-48.42682-.835 2.90357-16.13485 32.3466 30.23914 19.61852 40.54762a73.41782 73.41782 0 0 1-48.20053 16.05734 75.62625 75.62625 0 0 1-26.52017-5.57088c-7.9333-3.251-14.98532-8.14491-21.95122-13.06677-12.663-8.94724-26.48565-18.75223-42.847-16.54237-13.40218 1.81018-24.0391 11.02679-33.53855 19.95415C773.78292 232.0388 763.325 243.322 749.31 248.01024c-17.07619 5.71221-35.69683 1.006-51.26337-6.89739-16.52844-8.39175-30.32907-21.00311-44.77307-32.41023-13.46385-10.633-27.84536-20.66734-44.66252-25.05165-14.55473-3.79448-30.97057-3.80331-44.41076 3.65255a43.82223 43.82223 0 0 0-8.7975 6.48549c-1.40695 1.328.71725 3.44661 2.1213 2.12132C581.00762 187.93928 584.80852 208.78449 583.70885 236.80434Z' transform='translate(-213.7565 -142.44693)' fill='%23e6e6e6'/%3E%3Cpath d='M626.69328 345.667c5.83076-41.15631 21.89367-77.63685 51.5111-107.9233a9.1398 9.1398 0 0 1 12.17149-4.30656l81.506 38.90226a9.13965 9.13965 0 0 1 4.3065 12.17142l-51.511 107.92335a9.1396 9.1396 0 0 1-12.17135 4.30657L631 357.83851A9.13985 9.13985 0 0 1 626.69328 345.667Z' transform='translate(-213.7565 -142.44693)' fill='%23f2f2f2'/%3E%3Cpath d='M641.70627 357.83825a9.13964 9.13964 0 0 1-4.30657-12.17135c5.8307-41.15651 21.89367-77.637 51.511-107.92343a9.02186 9.02186 0 0 1 3.069-3.54084l-1.60385-.76559a9.14 9.14 0 0 0-12.17149 4.30643C648.587 268.03 632.52411 304.51039 626.69341 345.6669A9.13961 9.13961 0 0 0 631 357.83825l81.50592 38.90239a9.09907 9.09907 0 0 0 9.10244-.7656Z' transform='translate(-213.7565 -142.44693)' opacity='0.2' style='isolation:isolate'/%3E%3Cpath d='M729.57819 326.37681l-54.691-25.91774a3.63129 3.63129 0 0 1 3.11008-6.563l54.691 25.91774a3.63129 3.63129 0 0 1-3.11014 6.5629Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M695.44731 288.16519l-12.032-5.7019a3.63131 3.63131 0 1 1 3.08943-6.57276l.02071.00987 12.032 5.70189a3.63129 3.63129 0 0 1-3.11014 6.5629Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M715.90526 355.22911l-54.691-25.91774a3.63129 3.63129 0 0 1 3.11014-6.5629l54.691 25.91774A3.63132 3.63132 0 0 1 715.926 355.239Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M722.74169 340.803l-54.691-25.91774a3.63131 3.63131 0 0 1 3.10231-6.56669l.00777.00373 54.691 25.91774a3.63129 3.63129 0 0 1-3.11014 6.5629Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Ccircle cx='515.00026' cy='109.60749' r='15.14099' fill='%233f3d56'/%3E%3Cpath d='M885.41551 381.98424c-16.42085-35.62276-23.61165-74.01454-18.57537-116.07437-.7781-4.89295 1.94935-9.79626 6.09693-10.96083l74.34318-20.77017c4.14932-1.15344 8.1455 1.87143 8.933 6.76177L974.78865 357.015c.7781 4.89295-1.94927 9.79627-6.09684 10.96075l-74.34318 20.77016C890.19931 389.89938 886.203 386.87459 885.41551 381.98424Z' transform='translate(-213.7565 -142.44693)' fill='%23f2f2f2'/%3E%3Cpath d='M901.5857 382.0474c-4.14933 1.15345-8.14544-1.87132-8.933-6.76167-16.421-35.62287-23.61171-74.01464-18.57552-116.07439a10.72765 10.72765 0 0 1 .32275-4.67105l-1.46295.40865c-4.1475 1.16458-6.87494 6.06779-6.097 10.96072-5.03621 42.05985 2.15454 80.45152 18.57552 116.07439.78746 4.89034 4.78365 7.91512 8.933 6.76168l74.34316-20.77a8.83445 8.83445 0 0 0 5.77425-6.28969Z' transform='translate(-213.7565 -142.44693)' opacity='0.2' style='isolation:isolate'/%3E%3Cpath d='M945.41925 302.62815l-49.79274 14.08134c-1.65035.46428-3.24289-.73666-3.55707-2.68263a3.85819 3.85819 0 0 1 2.41235-4.362l49.79274-14.08134c1.65095-.46048 3.24134.74448 3.55223 2.69123a3.85871 3.85871 0 0 1-2.40759 4.3534Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M903.44221 294.29491l-10.95436 3.09786c-1.649.47276-3.24623-.71985-3.56753-2.66366a3.8617 3.8617 0 0 1 2.404-4.37567l.01888-.0053 10.95436-3.09786c1.651-.46048 3.24134.74448 3.55223 2.69123A3.85871 3.85871 0 0 1 903.44221 294.29491Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M950.45151 333.5982l-49.79274 14.08134c-1.65095.46048-3.24134-.74447-3.55223-2.69123a3.85872 3.85872 0 0 1 2.40758-4.3534l49.79274-14.08134c1.649-.47275 3.24623.71986 3.56753 2.66367a3.8617 3.8617 0 0 1-2.404 4.37567Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cpath d='M947.93537 318.11322l-49.79273 14.08134c-1.64964.46894-3.24471-.72748-3.56278-2.67219a3.85924 3.85924 0 0 1 2.41095-4.37048l.0071-.002 49.79274-14.08134c1.65095-.46048 3.24134.74448 3.55223 2.69123a3.85872 3.85872 0 0 1-2.40758 4.3534Z' transform='translate(-213.7565 -142.44693)' fill='%23fff'/%3E%3Cellipse cx='908.09259' cy='245.40021' rx='15.14099' ry='12.63838' transform='translate(334.59427 972.11336) rotate(-82.63777)' fill='%233f3d56'/%3E%3Cpath d='M819.05543 142.547a2.38614 2.38614 0 0 0-.33-.07 1.98256 1.98256 0 0 0-.35-.03h-84.59v4.57h84.59a2.30792 2.30792 0 0 0 1.47-.54 2.28909 2.28909 0 0 0-.79-3.93Z' transform='translate(-213.7565 -142.44693)' fill='%23f2f2f2'/%3E%3Cpath d='M819.05543 157.547a2.38614 2.38614 0 0 0-.33-.07 1.98256 1.98256 0 0 0-.35-.03h-84.59v4.57h84.59a2.30792 2.30792 0 0 0 1.47-.54 2.28909 2.28909 0 0 0-.79-3.93Z' transform='translate(-213.7565 -142.44693)' fill='%23f2f2f2'/%3E%3Cpath d='M819.05543 172.547a2.38614 2.38614 0 0 0-.33-.07 1.98256 1.98256 0 0 0-.35-.03h-84.59v4.57h84.59a2.30792 2.30792 0 0 0 1.47-.54 2.28909 2.28909 0 0 0-.79-3.93Z' transform='translate(-213.7565 -142.44693)' fill='%23f2f2f2'/%3E%3C/svg%3E");
  background-size: cover;
  background-color: var(--bg-clr);
  background-repeat: no-repeat;
}
.screen {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen__content {
  z-index: 1;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background-image: linear-gradient(
    220deg,
    rgba(162, 0, 255, 0.432),
    #e387fa91,
    #a98cff8c,
    #be89ff8a,
    #e7dbff00,
    #fdfdfd00
  );
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  box-shadow: 0px 15px 20px 10px #ffffff83,
    42px 42px 21px -37px rgba(255, 255, 255, 0.49) inset;
  /* -30px -26px 50px -37px rgba(21, 0, 68, 0.97) inset; */
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background-image: linear-gradient(
    220deg,
    rgba(235, 227, 253, 0.432),
    #e1d7fd91,
    #d6cafb8c,
    #d8b8ff8a,
    #e7dbff00,
    #fdfdfd00
  );
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background-image: linear-gradient(
    220deg,
    rgba(235, 227, 253, 0.432),
    #e1d7fd91,
    #d6cafb8c,
    #d8b8ff8a,
    #e7dbff00,
    #fdfdfd00
  );
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background-image: linear-gradient(
    220deg,
    rgba(235, 227, 253, 0.432),
    #e1d7fd91,
    #d6cafb8c,
    #d8b8ff8a,
    #e7dbff00,
    #fdfdfd00
  );
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  z-index: 1;
  padding-top: 56px;
  position: relative;
  color: rgb(255, 0, 119) !important;
  font-size: larger;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.verify__field {
  display: flex;
  padding: 20px 0px;
  position: relative;
}
.login__icon {
  position: absolute;
  top: 30px;
  color: #fff;
}

.login__input {
  border: none;
  border-bottom: 3px solid var(--gray0);
  background: none;
  padding: 1px;
  padding-left: 2px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
  color: var(--gray0);
  font-size: 1rem;
}
.login__input::placeholder {
  color: var(--gray0);
}
.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.verify__submit {
  background: #fff;
  width: 30px;
  display: flex;
  height: 30px;
  font-size: 14px;
  padding: 3px;
  border-radius: 50%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 6px 10px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #fff;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #fff;
}

.social-login__icon:hover {
  transform: scale(1.5);
}
