.TreeNodeCon {
  display: flex;
  gap: 1rem;
  width: 100%;
  box-shadow: -9px 17px 42px -24px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -9px 17px 42px -24px rgba(0, 0, 0, 1);
  -moz-box-shadow: -9px 17px 42px -24px rgba(0, 0, 0, 1);
  font-family: "Montserrat", sans-serif !important;
  align-items: center;
}
* {
  font-family: "Montserrat", sans-serif;
}
.tick {
  transition: color 0.5s ease-in-out;
}
.tick:hover {
  color: var(--green-light);
}
.TreeNodeTitle {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--pink-dark);
  color: var(--gray0);
  font-family: var(--font-body) !important;
}
.TreeNodeTitle:focus {
  outline: none;
}
/* * {
  box-sizing: border-box;
} */
