.AboutMe {
  --bg-clr: black;
  --txt-clr: white;
  width: 80vw;
  height: 80vh;
  margin-left: 10vw;
  margin-top: 10vh;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 600' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cstyle%3E .path-0%7B animation:pathAnim-0 4s%3B animation-timing-function: linear%3B animation-iteration-count: infinite%3B %7D %40keyframes pathAnim-0%7B 0%25%7B d: path('M 0 600 C 0 600 0 200 0 200 C 174 164.26666666666665 348 128.53333333333333 485 131 C 622 133.46666666666667 722 174.13333333333335 875 192 C 1028 209.86666666666665 1234 204.93333333333334 1440 200 C 1440 200 1440 600 1440 600 Z')%3B %7D 25%25%7B d: path('M 0 600 C 0 600 0 200 0 200 C 122.40000000000003 184.93333333333334 244.80000000000007 169.86666666666665 429 174 C 613.1999999999999 178.13333333333335 859.2 201.46666666666667 1038 209 C 1216.8 216.53333333333333 1328.4 208.26666666666665 1440 200 C 1440 200 1440 600 1440 600 Z')%3B %7D 50%25%7B d: path('M 0 600 C 0 600 0 200 0 200 C 177.46666666666664 225.33333333333331 354.9333333333333 250.66666666666663 510 266 C 665.0666666666667 281.33333333333337 797.7333333333333 286.6666666666667 949 274 C 1100.2666666666667 261.3333333333333 1270.1333333333332 230.66666666666666 1440 200 C 1440 200 1440 600 1440 600 Z')%3B %7D 75%25%7B d: path('M 0 600 C 0 600 0 200 0 200 C 211.19999999999993 223.6 422.39999999999986 247.2 567 262 C 711.6000000000001 276.8 789.6000000000001 282.8 924 271 C 1058.3999999999999 259.2 1249.1999999999998 229.6 1440 200 C 1440 200 1440 600 1440 600 Z')%3B %7D 100%25%7B d: path('M 0 600 C 0 600 0 200 0 200 C 174 164.26666666666665 348 128.53333333333333 485 131 C 622 133.46666666666667 722 174.13333333333335 875 192 C 1028 209.86666666666665 1234 204.93333333333334 1440 200 C 1440 200 1440 600 1440 600 Z')%3B %7D %7D%3C/style%3E%3Cpath d='M 0 600 C 0 600 0 200 0 200 C 174 164.26666666666665 348 128.53333333333333 485 131 C 622 133.46666666666667 722 174.13333333333335 875 192 C 1028 209.86666666666665 1234 204.93333333333334 1440 200 C 1440 200 1440 600 1440 600 Z' stroke='none' stroke-width='0' fill='%238200ce88' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3Cstyle%3E .path-1%7B animation:pathAnim-1 4s%3B animation-timing-function: linear%3B animation-iteration-count: infinite%3B %7D %40keyframes pathAnim-1%7B 0%25%7B d: path('M 0 600 C 0 600 0 400 0 400 C 175.06666666666666 383.20000000000005 350.1333333333333 366.40000000000003 507 382 C 663.8666666666667 397.59999999999997 802.5333333333333 445.6 955 454 C 1107.4666666666667 462.4 1273.7333333333333 431.2 1440 400 C 1440 400 1440 600 1440 600 Z')%3B %7D 25%25%7B d: path('M 0 600 C 0 600 0 400 0 400 C 178.93333333333334 383.3333333333333 357.8666666666667 366.66666666666663 510 362 C 662.1333333333333 357.33333333333337 787.4666666666667 364.6666666666667 938 373 C 1088.5333333333333 381.3333333333333 1264.2666666666667 390.66666666666663 1440 400 C 1440 400 1440 600 1440 600 Z')%3B %7D 50%25%7B d: path('M 0 600 C 0 600 0 400 0 400 C 147.2 391.8666666666667 294.4 383.7333333333333 437 385 C 579.6 386.2666666666667 717.6000000000001 396.93333333333334 884 401 C 1050.3999999999999 405.06666666666666 1245.1999999999998 402.5333333333333 1440 400 C 1440 400 1440 600 1440 600 Z')%3B %7D 75%25%7B d: path('M 0 600 C 0 600 0 400 0 400 C 144.2666666666667 392.26666666666665 288.5333333333334 384.53333333333336 444 401 C 599.4666666666666 417.46666666666664 766.1333333333334 458.1333333333333 934 462 C 1101.8666666666666 465.8666666666667 1270.9333333333334 432.93333333333334 1440 400 C 1440 400 1440 600 1440 600 Z')%3B %7D 100%25%7B d: path('M 0 600 C 0 600 0 400 0 400 C 175.06666666666666 383.20000000000005 350.1333333333333 366.40000000000003 507 382 C 663.8666666666667 397.59999999999997 802.5333333333333 445.6 955 454 C 1107.4666666666667 462.4 1273.7333333333333 431.2 1440 400 C 1440 400 1440 600 1440 600 Z')%3B %7D %7D%3C/style%3E%3Cpath d='M 0 600 C 0 600 0 400 0 400 C 175.06666666666666 383.20000000000005 350.1333333333333 366.40000000000003 507 382 C 663.8666666666667 397.59999999999997 802.5333333333333 445.6 955 454 C 1107.4666666666667 462.4 1273.7333333333333 431.2 1440 400 C 1440 400 1440 600 1440 600 Z' stroke='none' stroke-width='0' fill='%238200ceff' class='transition-all duration-300 ease-in-out delay-150 path-1'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-color: var(--gray6);
  background-repeat: no-repeat;
  transition: background-color 250ms ease-in-out;
  z-index: -12;
  position: relative;
  animation: AboutMeBlock 1.3s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
.AboutMe::-webkit-scrollbar {
  width: 7px;
  padding-right: 2px;
}
.AboutMe::-webkit-scrollbar-track {
  background-color: none;
}
.AboutMe::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
@keyframes AboutMeBlock {
  100% {
    margin-left: 0;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-90px);
  }
}
.AboutMe.light {
  --bg-color: white;
  --txt-clr: black;
  background-color: var(--gray6);
  transition: background-color 250ms ease-in-out;
}
.MainAboutContainer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 840px) {
  .MainAboutContainer {
    display: block;
  }
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}
wiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}
